body {
    background-color: #15220d;

}

.jumbotron {    
    background-color: #15220d;
    padding: 2em;
}

.extended {
    background-color: rgb(233, 252, 225);
    display: none;
    color: grey;
}
.comments {
    background-color: rgb(246, 253, 243);
}

#header {
    display: flex;
    justify-content: space-between;
}

#scrape {
    color: #ffffff;
    border-radius: 10em;
    font-size: 1.25em;
    margin-bottom: .5em;

}

#empty-db {
    /* color: #ffffff; */
    /* background-color: rgb(28, 131, 2); */
    /* border-radius: 10em; */
    font-size: 1em;
    margin-bottom: .5em;

}

#scrape:hover {
    background-color: rgb(36, 172, 2);
    transform: 1.5;
}

h1 {
    display: inline;
    color: #FFFFFF;
}

#logo-img {
    height: 5em;
}

.contact-icons {
    height: 2em;
    margin: .5em;
    opacity: .5;
}

.contact-icons:hover {
    transform: scale(1.1);
    margin: .5em;
    opacity: 1;
}

.footer {
    justify-content: center;
    text-align: center;
}
